:root {
  --header-height: 97px;
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
 // background-color: rgb(0 100 0 / 0.1);
  }

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input {
  outline: none;
}

.page {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  height: 100%;
}

.page {
  min-height: 100%;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

